.abstract{
    margin-top: 80px;
}
.abstract_items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
}
.abstract_content{
 
    padding-top: 80px;
}
.abstract_content_title{
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.abstract_content_desc{
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: lighter;
    color: gray;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.abstract_content_note{
    font-size: 30px;
    font-weight: lighter;
    color: gray;
    margin-bottom: 20px;
    margin-bottom: 35px;
}
.abstract_content_note > i{
    color: var(--maincolor);
}
.abstract_content_title > span{
    font-weight: bold;
}
.abstract_content_btn{
    border: 1px solid var(--maincolor);
    border-radius: 30px;
    background-color: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-align: center;
    width: 180px;
    height: 50px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    background-color: var(--maincolor);
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.3s,background-color 0.4s;
    -webkit-transition: color 0.3s,background-color 0.4s;
    -moz-transition: color 0.3s,background-color 0.4s;
    -ms-transition: color 0.3s,background-color 0.4s;
    -o-transition: color 0.3s,background-color 0.4s;
}
.abstract_content_btn:hover{
    background-color: #fff;
    color: var(--maincolor);
}
.abstract_bg{
width: 100%;

}
.abstract_bg > img{
    width: 100%;
    height: 100%;
}