
.team_content{
    margin-top: 80px;
    margin-bottom: 150px;
}
.team_categories{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.team_categories > button{
    border: 0;
    background-color: unset;
    font-size: 18px;
    text-transform: capitalize;
    color: gray;
    font-weight: lighter;
    opacity: 0.8;
    cursor: pointer;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}
.team_categories > button.active{
    color: var(--maincolor);
}
.team_categories > button:hover{
    color: var(--maincolor);
}
.teams_items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px
}
.team_item{
    text-align: center;
}
.team_item_img{
    margin-bottom: 15px;
    position: relative;

}
.team_item_img  > img{
    width: 100%;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.team_item_title{
    font-size: 27px;
    margin-bottom: 10px;
    letter-spacing: 1px;

}
.team_item_title>a{
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}
.team_item_title:hover > a{
    color: var(--maincolor);
}
.team_item_desc{
    font-size: 15px;
    color: var(--maincolor);
    opacity: 0.4;
    font-weight: bold;

}
.team_item_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 99%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s,visibility 0.3s;
    -webkit-transition: opacity 0.5s,visibility 0.3s;
    -moz-transition: opacity 0.5s,visibility 0.3s;
    -ms-transition: opacity 0.5s,visibility 0.3s;
    -o-transition: opacity 0.5s,visibility 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.team_item_overlay > ul{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.team_item_overlay > ul {
    display: flex;
    justify-content: space-between;
}
.team_item_overlay > ul > li > i{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}
.team_item_overlay > ul > li > i:hover{
    color: var(--maincolor);
}
.team_item_img:hover .team_item_overlay{
    opacity: 1;
    visibility: visible;
}